AtuneAPI/AtuneAPI/Web References/PersonWebServicePRO/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.a-tune.de/services/tickatlab/user/userwebservice/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.a-tune.de/services/tickatlab/user/userwebservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.a-tune.de/services/tickatlab/user/userwebservice/">
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filter" type="tns:ServiceUserFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceUserFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId5" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceUser" nillable="true" type="tns:ServiceUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsLocked" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalId5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Team" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalTeams" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationAccessAssignments" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:ServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOrUpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:ServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOrUpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveOrUpdateUserResult" type="tns:ServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="SaveOrUpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:SaveOrUpdateUser" />
  </wsdl:message>
  <wsdl:message name="SaveOrUpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:SaveOrUpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdateUser">
      <wsdl:input message="tns:SaveOrUpdateUserSoapIn" />
      <wsdl:output message="tns:SaveOrUpdateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdateUser">
      <soap:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/SaveOrUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrUpdateUser">
      <soap12:operation soapAction="http://www.a-tune.de/services/tickatlab/user/userwebservice/SaveOrUpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="https://arfms.ntu.edu.sg/tickatlab/WebServices/User/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="https://arfms.ntu.edu.sg/tickatlab/WebServices/User/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>